{% extends 'base.html' %}

{% block content %}
  <h1>Heart Radio</h1>
  
  <div>
    <label for="station-select">Select a station:</label>
    <select id="station-select">
      {% for station in stations %}
        <option value="{{ station.url }}">{{ station.name }}</option>
      {% endfor %}
    </select>
  </div>
  
  <div>
    <h2>Now playing:</h2>
    <audio id="audio-player" controls autoplay>
      Your browser does not support the audio element.
    </audio>
  </div>
{% endblock %}
{% block iheartradio %}

<figure>
  <figcaption>Listen to Music</figcaption>


  <iframe
    allow="autoplay"
    width="100%"
    height="300"
    src="https://www.iheart.com/artist/bruno-mars-anderson-paak-silk-sonic-337578/?embed=true"
    frameborder="0"></iframe>
  <iframe
    allow="autoplay"
    width="100%"
    height="300"
    src="https://www.iheart.com/playlist/top-pop-2022-312064750-KknAoLYQ4eifo3maB86ZZM/?embed=true"
    frameborder="0"></iframe>
  <iframe
    allow="autoplay"
    width="100%"
    height="300"
    src="https://www.iheart.com/playlist/the-classic-rock-channel-playlist-312064750-VJFiRQmE8F2BJPJiwx7oF4/?embed=true"
    frameborder="0"></iframe>
  <iframe
    allow="autoplay"
    width="100%"
    height="300"
    src="https://www.iheart.com/playlist/top-rock-2022-312064750-KFu67bsFYjAXEaaSt6daqp/?embed=true"
    frameborder="0"></iframe>
  <iframe
    allow="autoplay"
    width="100%"
    height="300"
    src="https://www.iheart.com/playlist/top-hip-hop-2022-312064750-XfYPD6J63oL34tnrv9ejri/?embed=true"
    frameborder="0"></iframe>
  <iframe
    allow="autoplay"
    width="100%"
    height="300"
    src="https://www.iheart.com/playlist/jazz-essentials-312064750-9v7QfdYeie6aZ1fMP2P8i9/?embed=true"
    frameborder="0"></iframe>
  <iframe
    allow="autoplay"
    width="100%"
    height="300"
    src="https://www.iheart.com/playlist/jazz-now-312064750-HPka82niLVvVitEAPhhKxr/?embed=true"
    frameborder="0"></iframe>



</figure>

{% endblock %}
{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      // Make an AJAX request to get the list of available stations
      $.ajax({
        url: '/get_radio_stations/',
        type: 'GET',
        success: function(data) {
          // Populate the station select dropdown with the available stations
          $.each(data.stations, function(index, station) {
            $('#station-select').append($('<option>', {
              value: station.url,
              text: station.name
            }));
          });
          // Set the source of the audio player to the first available station
          $('#audio-player').attr('src', data.stations[0].url);
        },
        error: function() {
          console.log('Error getting radio stations.');
        }
      });
      
      // Play the selected station when it changes
      $('#station-select').on('change', function() {
        var stationUrl = $(this).val();
        $('#audio-player').attr('src', stationUrl);
      });
    });
  </script>
{% endblock %}
